<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset="utf-8">
    <title> PoIT | Sentence-to-Poem-Generator </title>
    <!-- <link rel="stylesheet" href="../style/style.css"> -->
    <!-- <link th:href="@{styles/main.css}" rel="stylesheet"> -->
</head>

<body>
    <form action="#" th:action="@{/home}" th:object="${testingForm}" method="post">
    	<p>Id: <input type="text" th:field="*{name}" /></p>
        <p>Message: <input type="text" th:field="*{poem}" /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
    <!-- <div class="container">
        <header class="item-head">
            <h1>
                PoIT 
                <br>
                A Sentence-to-Poem-Generator
            </h1>
        </header>
        <main class="item-main">
            <p>
                So here we have some stuff. Like a text entry box.
            </p>
            <p>
                And we display the sentence entered and the poem generated.
            </p>
            <p>
                <form action="#" th:action="@{/home}" th:object="${testingForm}" method="post">
                    <p>Name: <input type="text" th:field="*{name}"/> </p>
                    <p>Poem: <input type="text" th:field="*{poem}"/> </p>
                    <p><input type="submit" value="submit"</p>
                </form>
            </p>
            <p>
                <h1>Results</h1>
                <p th:text="'Name: ' + ${testingForm.name}"/>
                <p th:text="'Poem: ' + ${testingForm.poem}"/>
                <a href="/home">Try again!</a>
            </p>
        </main>
        <aside class="item-left">
            <p>
                Here we have some more stuff. Maybe a Navbar?
            </p>
            <p>
                Maybe account information>
            </p>
        </aside>
        <aside class="item-right">
            <p>
                And over here we have recently generated poems
            </p>
            <p>
                Maybe these are based on the user, or all poems...
            </p>
            <p>
                Hopefully these are stored in a DB and we can pull them however we want... 
            </p>
        </aside>
        <footer class="item-foot">
            <h2 class="footer">
                CSCI 4448
                <br>
                Trevor Aweida
                <br>
                Kai Hueske-Vanceylon
                <br>
                Ryan Osler
            </h2>
        </footer>
    </div> -->
</body>

</html>

<!-- <!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head> 
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Form</h1>
    <form action="#" th:action="@{/home}" th:object="${testingForm}" method="post">
    	<p>Id: <input type="text" th:field="*{id}" /></p>
        <p>Message: <input type="text" th:field="*{content}" /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
</body>
</html> -->