<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title> PoIT | Sentence-to-Poem-Generator </title>
    <link rel="stylesheet" href="../static/css/main.css" th:href="@{/css/main.css}">
    <link href="https://fonts.googleapis.com/css2?family=Kulim+Park:wght@600&family=Libre+Barcode+39+Text&family=Permanent+Marker&family=Thasadith&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container">
        <header class="item-head">
            <h1>
                PoIT 
                <br>
                A Sentence-to-Poem-Generator
            </h1>
        </header>
        <main class="item-main">
            <p>
                So here we have some stuff. Like a text entry box.
            </p>
            <p>
                And we display the sentence entered and the poem generated.
            </p>
            <p>

            </p>
        </main>
        <aside class="item-left">
            <p>
                Here we have some more stuff. Maybe a Navbar?
            </p>
            <p>
                Maybe account information>
            </p>
        </aside>
        <aside class="item-right">
            <p>
                And over here we have recently generated poems
            </p>
            <p>
                Maybe these are based on the user, or all poems...
            </p>
            <p>
                Hopefully these are stored in a DB and we can pull them however we want... 
            </p>
        </aside>
        <footer class="item-foot">
            <h2 class="footer">
                CSCI 4448
                <br>
                Trevor Aweida
                <br>
                Kai Hueske-Vanceylon
                <br>
                Ryan Osler
            </h2>
        </footer>
    </div>
</body>

</html>