<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>poIT Website</title>
	<link rel="stylesheet" href="PoemWebStyle.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
	<nav class="navbar">
		<div class="navbar__container">
			<a href="/" id="navbar__logo">PoIT</a>
			<div class="navbar__toggle" id="mobile-menu">
				<span class="bar"></span>
				<span class="bar"></span>
				<span class="bar"></span>
			</div>
			<ul class="navbar__menu">
				<li class="navbar__item">
					<a href="/PoemPage.html" class="navbar__links">
					Home
					</a>
				</li>
				<li class="navbar__btn">
					<a href="/" class="button">
					Make Poem
					</a>
				</li>
			</ul>
		</div>
	</nav>

	<!-- Hero Section -->
	<div class="main">
		<div class="main__container">
			<div class="main__content">
				<h1>GENERATE YOUR VERY OWN</h1>
				<h2>POEM</h2>
				<p>And select your desired poem style.</p>
				<button class="main__btn"><a href="/">Get Started</a></button>

			</div>
			<!-- 
			<div class="main_image--container">
				<img src="images/pic1.svg" alt="pic" id="main__img">
			</div>
			-->
		</div>
	</div>



	<!--Footer-->
		</div>
		<div class="social__media">
			<div class="social__media--wrap">
				<div class="footer__logo">
					<a href="/" id="footer__logo"><i class="fas faa-gem"></i>PoIT</a>
				</div>
				<p class="website__right"> © PoIT 2022. All rights reserved</p>
				<div class="social__icons">
								<a href="/" class="social__icon--link" target = "_blank">
									<i class="fab fa-github"></i>
									</a>
				</div>
			</div>
		</div>
	</div>


	<script src = ""></script>
	<!--In the quotes, place javascript file-->
</body>
</html>



